.footer {
  display: flex;
  flex-direction: column;
  height: 300px;
  border-top: 8px solid grey;
  margin: 45px 25px 30px 25px;
  padding: 55px;
  color: white;
  text-align: center;
  overflow: hidden;
}

.footer > h5 {
  cursor: pointer;
  margin-bottom: 45px;
  font-size: larger;
  text-align: center;
}

.footer-sections {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 0.3rem);
  font-size: large;
  cursor: pointer;
  padding: 15px;
}

.footer > span {
  margin-top: 25px;
  font-size: large;
}

@media screen and (max-width: 600px) {
  .footer {
    padding: 10px;
    font-size: small;
  }
  .footer-sections {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 0.5rem);
    gap: 5px;
    font-size: smaller;
  }
  .footer > span {
    margin: 10px auto;
    font-size: small;
  }
}
