.plansScreen-plan {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  opacity: 0.8;
}

.plansScreen-plan:hover {
  opacity: 1;
}

.plansScreen-plan > button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #e50914;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 600;
}

.plansScreen-plan--disabled > button {
  background-color: gray !important;
}

@media screen and (max-width: 600px) {
  .plansScreen-plan > button {
    font-size: 0.8rem;
  }
}
